<div class="main-wrapper">
       
  <div class="container axes-container" ng-controller="MajorScaleController as vm">
  
    <div class="row text-center">
      <!-- Header -->
      
      <div class="col-xs-2 sf-div">
        <div class="form-group text-center">
          <fieldset>
            <legend>Key</legend>
            <select style="width: 100px; text-align: center;" ng-model="vm.key" ng-change="vm.generateScale(this.vm.key)">
              <option ng-repeat="note in vm.semitones">{{ note }}</option>
            </select>
            <!--
            <br>
            <label>
              <input type="radio" ng-model="vm.accidental" value="sharp" ng-change="vm.changeAccidentals(vm.accidental)">&nbsp;Sharp
            </label>
            <label>
              <input type="radio" ng-model="vm.accidental" value="flat" ng-change="vm.changeAccidentals(vm.accidental)">&nbsp;Flat
            </label> -->
          </fieldset>
        </div>
      </div>
      
      <div class="col-xs-8 h3">
        <span><b>Jam Theory</b></span>
      </div>
    </div>
    
    <div class="center col-xs-8 row">
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-minus">&nbsp;</span>
          <span class="h5"><b>Major Scale</b></span>
        </div>
        <div class="panel-body text-center">
              <fieldset class="col-xs-1">
                <legend>I</legend>
                <span class="text-center">{{ vm.major['tonic']}}</span>
              </fieldset>
              
              <fieldset class="col-xs-1">
                <legend>ii</legend>
                <span class="text-center">{{ vm.major['second'] }}</span>
              </fieldset>
              
              <fieldset class="col-xs-1">
                <legend>iii</legend>
                <span class="text-center">{{ vm.major['third'] }}</span>
              </fieldset>
              
              <fieldset class="col-xs-1">
                <legend>IV</legend>
                <span class="text-center">{{ vm.major['fourth'] }}</span>
              </fieldset>
              
              <fieldset class="col-xs-1">
                <legend>V</legend>
                <span class="text-center">{{ vm.major['fifth'] }}</span>
              </fieldset>
              
              <fieldset class="col-xs-1">
                <legend>vi</legend>
                <span class="text-center">{{ vm.major['sixth'] }}</span>
              </fieldset>
              
              <fieldset class="col-xs-1">
                <legend>vii</legend>
                <span class="text-center">{{ vm.major['seventh'] }}</span>
              </fieldset>
          
        </div>
      </div>
    </div>
    


    <div class="row">
    
      <div class="col-xs-3 panel-group">
      
      
      <!--
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-minus">&nbsp;</span>
            <span class="h5"><b>Display without Sensitivity</b></span>
          </div>
          <div class="panel-body">
            <div class="row form-group text-center">
              <fieldset>
                <legend>mm</legend>
                <span class="text-center">{{ vm.dispWOsens_mm() }}</span>
              </fieldset>

              <fieldset>
                <legend>inches</legend>
                <span class="text-center">{{ vm.dispWOsens_in() }}</span>
              </fieldset>
            </div>
          </div>
        </div> -->
      </div>
      
    </div>
      
    <br>
  </div>
</div>