hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: rgba(0,0,0,0.4);
} 

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.sf-div {
  border: 1px solid rgba(99,99,99,0.2);
  background-color: rgba(180,222,255,0.2);
  border-radius: 4px;
}